@import './../../css/constants.less';

@-webkit-keyframes sdb {
    0% {
      opacity: 0; }
    30% {
      opacity: 1; }
    60% {
      box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
      opacity: 0; }
    100% {
      opacity: 0; }
}
  
@keyframes sdb {
    0% {
      opacity: 0; }
    30% {
      opacity: 1; }
    60% {
      box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
      opacity: 0; }
    100% {
      opacity: 0; }
}

@-webkit-keyframes bouncer {
    0% {
        margin-bottom: 0; }
    50% {
        margin-bottom: 1rem; }
    100% {
        margin-bottom: 0; }
}
  
@keyframes bouncer {
    0% {
      margin-bottom: 0; }
    50% {
      margin-bottom: 1rem; }
    100% {
      margin-bottom: 0; }
}

// @-webkit-keyframes pageflipEnter {
//     0% {
//         clip-path: polygon(100% 100%, 100% 100%, 100% 100%); }
//     100% {
//         clip-path: polygon(100% -100%, -100% 100%, 100% 100%); }
// }
// @keyframes pageflipEnter {
//     0% {
//         clip-path: polygon(100% 100%, 100% 100%, 100% 100%); }
//     100% {
//         clip-path: polygon(100% -100%, -100% 100%, 100% 100%); }
// }
// @-webkit-keyframes pageflipLeave {
//     0% {
//         clip-path: polygon(100% -100%, -100% 100%, 100% 100%); }
//     100% {
//         clip-path: polygon(100% 100%, 100% 100%, 100% 100%); }
// }
// @keyframes pageflipLeave {
//     0% {
//         clip-path: polygon(100% -100%, -100% 100%, 100% 100%); }
//     100% {
//         clip-path: polygon(100% 100%, 100% 100%, 100% 100%); }
// }
@-webkit-keyframes pageflipEnter {
    0% {
        clip-path: inset(0% 100% 0% 0%); }
    100% {
        clip-path: inset(0% 0% 0% 0%); }
}
@keyframes pageflipEnter {
    0% {
        clip-path: inset(0% 100% 0% 0%); }
    100% {
        clip-path: inset(0% 0% 0% 0%); }
}
@-webkit-keyframes pageflipLeave {
    0% {
        clip-path: inset(0% 0% 0% 0%); }
    100% {
        clip-path: inset(0% 100% 0% 0%); }
}
@keyframes pageflipLeave {
    0% {
        clip-path: inset(0% 0% 0% 0%); }
    100% {
        clip-path: inset(0% 100% 0% 0%); }
}

@-webkit-keyframes grow {
    0% {
        height: 0px; }
    100% {
        height: 100px; }
}
@keyframes grow {
    0% {
        height: 0px; }
    100% {
        height: 100px; }
}

@-webkit-keyframes growBorder {
    0% {
        border-bottom-width: 0px; }
    100% {
        border-bottom-width: 80px; }
}
@keyframes growBorder {
    0% {
        border-bottom-width: 0px; }
    100% {
        border-bottom-width: 80px; }
}

.homeNew {
    .hideIt {
        visibility: hidden;
    }
    .page1 {
        position: relative;
        height: 100vh;
        width: 100vw;

        .homeMenu {
            align-self: flex-start;
        }
        
        #black {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #000;
            z-index: 1;
        }
        #text {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 60px;
            line-height: 60px;
            font-weight: 200;
            text-align: right;
            z-index: 2;
        }
        .logo {
            position: absolute;
            z-index: 0;
            top: 40%;
            left: 50%;
            background-image: url("/assets/borrowed_assets/thincats-450x153cheetah.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 10vh;
            width: 10vh;
            transform: translateX(-100%) translateX(-200px) translateY(-50%);
        }
        .buttonsContainer {
            align-self: flex-start;
        }
        .slogan {
            font-size: 40px;
            color: #000;
        }
        .findOutMore {
            height: 10vh;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            // button {
            //     // bottom: 0;
            // }
            .bounce-container {
                margin-left: 10px;
                display: inline-block;
                -webkit-animation: bouncer 3s infinite;
                animation: bouncer 3s infinite;
                border-radius: 100%;
                color: black;
        
                i {
                    font-size: 2rem;
                    margin-bottom: 5px;
                }
            }
        }
        .buttons {
            padding-right: 4rem;
            button {
                font-size: 0.8rem; 
            }
        }
        .seller {
            color: black;
        }
    }
    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        // background-image: url("/assets/stock-photo-alert-leopard-watching-for-prey-1091157545.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        // backdrop-filter: ;
        filter: grayscale(0.75);
        opacity: 0.5;
    }

    .page2 {
        height: 50vh;
        width: 100vw;
        color: white;
        // background-color: black;
        background-image: url("/assets/CrissCrossPattern.jpg");
        background-position: center;
        background-repeat: repeat;
        background-size: 300px 300px;

        .flow {
            width: 20vw;
        }
        .page2-SubContainer {
            height: 100%;
        }
        .centered {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: center;

            .light {
                width: 8rem;
                height: 8rem;
            }
            .arrow {
                width: 8rem;
                height: 8rem;
            }
            i {
                color: white;
                font-size: 3rem;
            }
            .blueText {
                color: #5783a9;
                font-size: 2rem;
        }
        }
        .page2TextContainer {
            max-height: 50%;
            border-top: solid white 1px;
            .page2Text {
                padding: 1rem;
            }
        }

        .page2IconContainer {
            max-height: 50%;
        }
        .fancyBorder {
            border-left: solid white 1px;
        }
    }
    .page3 {
        // height: 100vh; Removing so we can fill as desired
        width: 100vw;
        background-color: white;
        color: black;

        .light {
            width: 8rem;
            height: 8rem;
        }
        .topIcon {
            margin: auto;
        }
        .patternBackground {
            padding: 1rem;
            background-image: url("/assets/CrissCrossPattern.jpg");
            background-position: center;
            background-repeat: repeat;
            background-size: 300px 300px;
            color: white;
        }
        .whiteBackground {
            padding: 1rem;
        }
        .page3Block {
            padding: 1rem;

            .page3Heading {
                font-weight: bold;
                padding-bottom: 1rem;
            }
            .page3Content {
                padding-bottom: 1rem;
            }
        }
        .endText {
            text-align: center;
        }
    }
}

.pageFlipper-enter {
    display: none;
}

.pageFlipper-enter-done {
    -webkit-animation: pageflipEnter 1s;
    animation: pageflipEnter 1s;
}
.pageFlipper-exit {
    -webkit-animation: pageflipLeave 0.5s forwards;
    animation: pageflipLeave 0.5s forwards;
}

.expandPointArrow {
    position: absolute;
    width: 0px;
    -webkit-animation: growBorder forwards;
    animation: growBorder forwards;
    z-index: -1;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 80px solid black;

    &.leftArrow {
        transform: skewX(45deg)
    }
    &.rightArrow {
        transform: skewX(-45deg)
    }
}

.expandThickArrow {
    position: absolute;
    width: 0px;
    bottom: 0;
    -webkit-animation: grow forwards;
    animation: grow forwards;
    border-left: 5px solid black;
    z-index: -1;

    &.leftArrow {
        transform: skewX(45deg)
    }
    &.rightArrow {
        transform: skewX(-45deg)
    }
}

.thincatsCorner {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 50px 50px;
        border-color: black white;
    }
}
