.menu {
    z-index: 1;
    // @media screen {
    //     left: 0vw;
    //     width: 100vw;
    // }

    .navRoot {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        .navAction {
            max-width: 100vh !important;
        }
    }
}

.menuOverlay {
    position: absolute;
    left: 35vw;
    width: 30vw;
    text-align: center;
}