.resources {
    position: relative;
    min-height: 100vh;
    width: 100vw;

    .resourceNav {
        min-height: 100vh;
        background: lightgrey;
    }
    .noMargin {
        margin: 0;
    }
    .heading {
        font-weight: bold;
    }
    .subItem {
        margin-left: 1rem;
    }
    .resourceContent {
        padding: 10rem 1rem 1rem 1rem 
    }
}