.resources {
    position: relative;
    min-height: 100vh;
    width: 100vw;

    .borrower {
        margin-right: 1px solid black;
    }
    .borrower, .investor {
        padding: 1rem;
        padding-top: 2rem;
        text-align: center;
    }

    .switchercontainer {
        position: relative;
    }

    .switcher {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    .subHeading {
        padding-bottom: 1rem;
        p {
            margin-bottom: 0.5rem;
        }
    }

    .resourceNav {
        min-height: 100vh;
        background: lightgrey;

        .paddingTop1 {
            padding-top: 1px;
        }
    }
    .noMargin {
        margin: 0;
    }
    .heading {
        font-weight: 500;
    }
    .subItem {
        margin-left: 1rem;
    }
    .resourceContent {
        padding: 1rem 1rem 1rem 1rem;
        max-width: 980px;
        margin: 0px auto;
    }
}