.footer {
    margin: 0px auto;
    text-align: left;
    font-size: 13px;
    color: white;
    height: auto;
    overflow: hidden;
    background: #686E6F;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #7C8283;

    .block {
        max-width: 960px;
        margin: 0 auto;

        p {
            margin: 10px 0;
        }
    }
}