.footer {
  margin: 0px auto;
  text-align: left;
  font-size: 1rem;
  color: black;
  height: auto;
  overflow: hidden;
  background: white;
  padding: 1rem;
  border-top: 1px solid #7c8283;

  .block {
    max-width: 960px;
    margin: 0 auto;

    p {
      margin: 10px 0;
    }
  }
}
