.resourceTitle {
  padding: 0.5em;
  margin-bottom: 0;
  background: white;
}

.resources {
  position: relative;
  min-height: 100vh;
  margin: auto;
  max-width: 1200px;
  font-size: 1rem;
  // box-shadow: inset 0 51px 140px 3px rgba(0, 0, 0, 0.1);

  .subHeading {
    padding-bottom: 1em;
    p {
      margin-bottom: 1.3em;
    }
    ul {
      margin-left: 1rem;
    }
  }

  .noMargin {
    margin: 0;
  }
  .heading {
    font-weight: 500;
    cursor: pointer;
  }
  .subItem {
    margin-left: 1em;
  }
  .resourceContent {
    padding: 1em 3em 1em 3em;
    max-width: 1200px;
    margin: 0px auto;
  }
}

.underlinedBlue {
  border-bottom: 2px #2196f3 solid;
}
