.menuBar {
    font-size: 1rem;
    margin-bottom: 10px;

    .loginButtons {
        align-self: center;

        button {
            margin-right: 1em;
        }
    }
    .justifyBetween {
        justify-content: space-between;
    }
    .noBasis {
        flex-basis: 0;
    }
    .logoLeft {
        background-image: url("/assets/thincats-450x153nocheetah.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 10vh;
        max-width: 25vw;
        cursor: pointer;
    }
    // todo emove this dup
    .borrower {
        border-right: 1px solid black;
    }
    .borrower, .investor {
        padding: 1em;
        text-align: center;
        font-weight: 500;

        &.selected {
            background-color: #ffcc00;
        }
    }

    .switcherContainer {
        position: relative;
    }

    .switcher {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
}