html {
  font-size: 14px;
  line-height: 1.4;
}
html,
body,
div,
span,
applet,
object,
input,
textarea,
button,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 400px) and (max-width: 768px) {
  html {
    font-size: 13px !important;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 400px) {
  html {
    font-size: 11px !important;
  }
}
/* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 768px) and (max-width: 1224px) {
  html {
    font-size: 16px !important;
  }
}
/* Desktops and laptops ----------- */
@media screen and (min-width: 1224px) and (max-width: 1824px) {
  html {
    font-size: 18px !important;
  }
}
/* Large screens ----------- */
@media screen and (min-width: 1824px) {
  html {
    font-size: 18px !important;
  }
}
h2 {
  font-weight: normal;
  margin-bottom: 10px;
  border-bottom: 2px #2196f3 solid;
}
h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.italics {
  font-style: italic;
}
body {
  font-family: "HelveticaNeue-Light";
  border: none;
  overflow-x: hidden;
  margin: auto;
}
button {
  font-size: 1em;
}
.bold {
  font-weight: 600;
  display: inline;
  vertical-align: top;
}
a {
  color: #2196f3;
}
.prerenderer {
  display: none;
}
/* HelveticaNeue-Light */
@font-face {
  font-family: "HelveticaNeue-Light";
  src: url(bb361e7748abd463aaa94bd443b9f936.eot) format("embedded-opentype"), url(100491d09d328ccc57a7f1e6f9a34493.woff) format("woff"), url(27f9b380e10634757d7a9b593d7d4f33.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "aliquam";
  src: url(2129471de55826c8b726fce48f28e112.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
.progressBar {
  background-color: white !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
.progressBar div {
  background-color: #2196f3 !important;
}
.menuBar {
  font-size: 1rem;
  margin: 10px;
  border-top: 1px solid #c5c5c0;
  border-bottom: 1px solid #c5c5c0;
  z-index: 1;
}
.menuBar .flexColumn {
  flex-direction: column;
}
.menuBar .navRoot > button {
  color: black;
  flex-basis: auto;
  max-width: 100vh !important;
  margin: 10px 0;
  border-right: 1px solid #c5c5c0;
  min-width: 0;
  transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
}
.menuBar .navRoot > button.arrow {
  background-repeat: no-repeat;
  background-image: url("/assets/down_arrow.png");
  background-position: 91% 50%;
  padding-right: 30px;
}
.menuBar .navRoot > button.arrow:hover {
  background-image: url("/assets/down_arrow_hover.png");
}
.menuBar .navRoot > button.last {
  border-right: none;
}
.menuBar .navRoot > button:hover {
  text-decoration: underline;
  color: #3b79a3;
}
.menuBar .navRoot > button.selectedLabel {
  color: black;
  padding-top: 8px;
}
.menuBar .navRoot .navActionLabel {
  font-size: 1em;
}
@media screen and (min-width: 960px) {
  .menuBar .navRoot .navActionLabel {
    white-space: nowrap;
  }
}
.resourceTitle {
  padding: 0.5em;
  margin-bottom: 0;
  background: white;
}
.resources {
  position: relative;
  min-height: 100vh;
  margin: auto;
  max-width: 1200px;
  font-size: 1rem;
}
.resources .subHeading {
  padding-bottom: 1em;
}
.resources .subHeading p {
  margin-bottom: 1.3em;
}
.resources .subHeading ul {
  margin-left: 1rem;
}
.resources .noMargin {
  margin: 0;
}
.resources .heading {
  font-weight: 500;
  cursor: pointer;
}
.resources .subItem {
  margin-left: 1em;
}
.resources .resourceContent {
  padding: 1em 3em 1em 3em;
  max-width: 1200px;
  margin: 0px auto;
}
.underlinedBlue {
  border-bottom: 2px #2196f3 solid;
}
.footer {
  margin: 0px auto;
  text-align: left;
  font-size: 1rem;
  color: black;
  height: auto;
  overflow: hidden;
  background: white;
  padding: 1rem;
  border-top: 1px solid #7c8283;
}
.footer .block {
  max-width: 960px;
  margin: 0 auto;
}
.footer .block p {
  margin: 10px 0;
}
@-webkit-keyframes bouncer {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 1em;
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes bouncer {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 1em;
  }
  100% {
    margin-bottom: 0;
  }
}
@-webkit-keyframes pageflipEnter {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes pageflipEnter {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@-webkit-keyframes pageflipLeave {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes pageflipLeave {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@-webkit-keyframes growOngoingLeft {
  0% {
    transform: translate(0px, 0px) skewX(45deg);
  }
  50% {
    transform: translate(100px, 100px) skewX(45deg);
  }
  100% {
    transform: translate(0px, 0px) skewX(45deg);
  }
}
@keyframes growOngoingLeft {
  0% {
    transform: translate(0px, 0px) skewX(45deg);
  }
  50% {
    transform: translate(100px, 100px) skewX(45deg);
  }
  100% {
    transform: translate(0px, 0px) skewX(45deg);
  }
}
@-webkit-keyframes growOngoingRight {
  0% {
    transform: translate(0px, 0px) skewX(-45deg);
  }
  50% {
    transform: translate(-100px, 100px) skewX(-45deg);
  }
  100% {
    transform: translate(0px, 0px) skewX(-45deg);
  }
}
@keyframes growOngoingRight {
  0% {
    transform: translate(0px, 0px) skewX(-45deg);
  }
  50% {
    transform: translate(-100px, 100px) skewX(-45deg);
  }
  100% {
    transform: translate(0px, 0px) skewX(-45deg);
  }
}
.homeNew {
  overflow: hidden;
  font-size: 1rem;
  margin: auto;
}
.homeNew .funded {
  color: #2196f3;
  display: inline;
  font-weight: 600;
}
.homeNew .static {
  min-width: 310px;
}
.homeNew .containerized {
  max-width: 960px;
}
.homeNew .tickerText {
  white-space: nowrap;
  font-weight: bold;
}
.homeNew .hideIt {
  visibility: hidden;
}
.homeNew .page1 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.homeNew .page1 .homeMenu {
  align-self: flex-start;
}
.homeNew .page1 #text {
  font-weight: 200;
  align-items: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.homeNew .page1 #text #innerText {
  font-size: 8rem;
  line-height: 8rem;
  text-align: right;
}
.homeNew .page1 #text #innerText .thin {
  font-family: "aliquam";
  display: inline-block;
}
.homeNew .page1 #text #innerText .cats {
  font-family: "HelveticaNeue-Light";
  display: inline-block;
}
.homeNew .page1 #text #innerText .sublogo {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 10px;
}
.homeNew .page1 #text .slogan {
  font-size: 1.2em;
}
.homeNew .page1 .buttonsContainer {
  align-self: flex-start;
}
.homeNew .page1 .seller {
  color: black;
  text-align: center;
}
.homeNew .page1 .seller .buttonContainer {
  -webkit-perspective: 700px;
  -moz-perspective: 700px;
  -ms-perspective: 700px;
  perspective: 700px;
}
.homeNew .page1 .seller .buttonContainer button:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba(165, 130, 15, 0.2);
  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
}
.homeNew .page1 .seller .buttonContainer button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba(15, 165, 60, 0);
}
.homeNew .page1 .seller .buttonContainer button {
  margin-bottom: 2rem;
  white-space: nowrap;
  font-size: 2em;
  background-color: #ff7f00;
  color: black;
  padding: 0.5em 1em;
  margin-top: 1.75em;
  font-weight: 400;
  font-family: "HelveticaNeue-Light";
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (max-width: 400px) {
  .homeNew .page1 .seller .buttonContainer button {
    margin-top: 0;
    font-size: 1.1em;
  }
}
.homeNew .page3 {
  width: 200vw;
  background-color: white;
  color: black;
  transition: transform 1s ease-in-out;
  font-size: 0.9rem;
}
.homeNew .page3 .title100 {
  min-height: 125px;
}
.homeNew .page3.translateLeft {
  transform: translateX(-50%);
}
@media screen and (max-width: 960px) {
  .homeNew .page3 .icon {
    margin: auto;
  }
}
.homeNew .page3 .light {
  width: 4em;
}
.homeNew .page3 .peopleCash {
  width: 5em;
  margin-bottom: 0.5em;
}
.homeNew .page3 .plant {
  width: 3em;
}
.homeNew .page3 .wallet {
  width: 4em;
}
.homeNew .page3 .lock {
  width: 3.7em;
}
.homeNew .page3 .medal {
  width: 3.5em;
}
.homeNew .page3 .magGlass {
  width: 3.5em;
}
.homeNew .page3 .time {
  width: 5em;
}
.homeNew .page3 .topIcon {
  margin-left: auto;
  margin-right: auto;
}
.homeNew .page3 .page3Row {
  width: 100%;
}
.homeNew .page3 .patternBackground {
  -webkit-transition: flex-basis 1s ease-in-out;
  -moz-transition: flex-basis 1s ease-in-out;
  -o-transition: flex-basis 1s ease-in-out;
  transition: flex-basis 1s ease-in-out;
  background-image: url("/assets/CrissCrossPattern.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: 300px 300px;
  color: white;
}
.homeNew .page3 .whiteBackground {
  border-top: 1px solid #7c8283;
  -webkit-transition: flex-basis 1s ease-in-out;
  -moz-transition: flex-basis 1s ease-in-out;
  -o-transition: flex-basis 1s ease-in-out;
  transition: flex-basis 1s ease-in-out;
}
.homeNew .page3 .page3Title {
  font-size: 1.4em;
  text-align: center;
}
.homeNew .page3 .page3Title b {
  vertical-align: top;
}
.homeNew .page3 .page3Block {
  padding: 1em;
  min-height: 250px;
}
@media screen and (max-width: 960px) {
  .homeNew .page3 .page3Block {
    text-align: center;
  }
}
@media screen and (max-width: 960px) {
  .homeNew .page3 .page3Block {
    min-height: 190px;
  }
}
.homeNew .page3 .page3Block .page3Heading {
  font-weight: 500;
  padding-bottom: 1em;
}
.homeNew .page3 .page3Block .page3Content {
  font-weight: 200;
}
.homeNew .page3 .endText {
  padding-top: 1.5em;
  font-weight: 500;
  text-align: center;
  padding-bottom: 1em;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.homeNew .page3 .endText button {
  margin-top: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  padding: 1em 3em;
}
.homeNew .videos {
  background-color: white;
  border-top: 1px solid #7c8283;
  font-weight: 700;
  font-size: 4rem;
  padding: 2rem 0;
  max-width: 1200px;
  margin: auto;
}
.homeNew .videos .banner {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.homeNew .videos .banner a {
  text-decoration: none;
}
.homeNew .videos .banner a figcaption {
  color: #3f74a1;
}
.homeNew .videos .banner .wistia_embed {
  margin: 0 10px;
  cursor: pointer;
}
.homeNew .videos .banner .wistia_embed img {
  width: 640px;
  height: 360px;
}
.homeNew .videos .banner .applyButtons button {
  margin: 1rem 1rem 0 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
}
.homeNew .videos .banner .amount-lent {
  font-size: 3rem;
  font-weight: 700;
  min-width: 64px;
}
.homeNew .ticker {
  justify-content: space-evenly;
  display: flex;
}
@media screen and (max-width: 768px) {
  .homeNew .ticker {
    flex-direction: column;
  }
}
.homeNew .ticker .banner {
  text-align: center;
}
.homeNew .ticker .banner a {
  text-decoration: none;
}
.homeNew .ticker .banner a figcaption {
  color: #3f74a1;
}
.homeNew .ticker .banner .applyButtons button {
  margin: 1rem 1rem 0 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
}
.homeNew .ticker .banner .amount-lent {
  font-size: 3rem;
  font-weight: 700;
  min-width: 64px;
}
.pageFlipper-enter {
  display: none;
}
.pageFlipper-enter-done .clipper {
  display: block;
  -webkit-animation: pageflipEnter 0.3s forwards;
  animation: pageflipEnter 0.3s forwards;
}
.pageFlipper-exit .clipper {
  display: block;
  -webkit-animation: pageflipLeave 0.2s forwards;
  animation: pageflipLeave 0.2s forwards;
}
.clipper {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10000;
}
.fillWhite {
  fill: white;
}
.fillBlack {
  fill: black;
}
.fillBlack g {
  fill: black !important;
}
.expandThickArrow {
  position: absolute;
  animation-delay: 2s;
  width: 0px;
  bottom: 0;
  height: 100px;
  border-left: 5px solid black;
  z-index: -1;
}
.expandThickArrow.leftArrow {
  -webkit-animation: growOngoingLeft;
  animation: growOngoingLeft;
}
.expandThickArrow.rightArrow {
  -webkit-animation: growOngoingRight;
  animation: growOngoingRight;
}
.thincatsCorner {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 50px;
  height: 50px;
}
.thincatsCorner::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: black white;
}
.padding2em {
  padding: 2em;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZXMuNjcxYzkyZTJlMmFmODYwN2YzYWIuY3NzIiwic291cmNlUm9vdCI6IiJ9*/