h2 {
    font-weight: normal;
}

.italics {
    font-style: italic;
}

body {
    // font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif !important;
}

// Because <b> and font-weight: bold is TOO bold for roborto
.bold {
    font-weight: 500;
    display: inline;
    vertical-align: top;
}

a {
    color: #2196f3;
}
